/* pixso - replacement - figma */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  border: none;
  background-color: transparent;
}

body {
  font-family: 'Rubik', sans-serif;
}

.header {
  background-color: #0a61f7;
  /* height: 76px; */
  padding: 14px 0;
}

.menu-link {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.main-title {
  color: #363940;
  font-size: 58px;
  font-weight: 500;
  line-height: 68px;
  margin-bottom: 30px;
}
.text {
  color: #95a1bb;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.button {
  width: 152px;
  height: 50px;
  border-radius: 4px;
  background-color: #0a61f7;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.rates-section {
  background-color: #f9fafc;
  padding: 100px 0;
}
.rates-section .title {
  margin-bottom: 20px;
}
.rates-section .text {
  margin-bottom: 40px;
}
.title {
  color: #363940;
  font-size: 32px;
  font-weight: 500;
  line-height: 43px;
  text-align: center;
}
.table {
  border-collapse: collapse;
}
th,
td {
  width: 241px;
  height: 52px;
  border: 1px solid #95a1bb;
  text-align: center;
}
.table- title {
  color: #363940;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
.table-subtitle {
  color: rgb(54, 57, 64);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  padding-left: 20px;
}
.table-link {
  color: #0a61f7;
}
.table-button {
  width: 140px;
  padding: 8px 0;
  border: 1px solid #0a61f7;
  border-radius: 4px;
  color: #0a61f7;
  font-size: 12px;
  font-weight: 500;
  line-height: 19.6px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.table-button.active {
  background-color: #0a61f7;
  color: #ffffff;
}
.table-footer td {
  padding: 30px 0;
}
.create-account-section {
  padding: 100px 0;
}
.create-account-section .title {
  margin-bottom: 50px;
}
.create-account-section .text {
  margin-bottom: 40px;
  max-width: 500px;
}
.list-item {
  list-style-image: url('./assets/images/Icon_Check.png');
  margin-left: 30px;
  margin-bottom: 15px;
  color: #363940;
}

input,
select,
fieldset,
textarea {
  border-radius: 4px;
  border: 1px solid #95a1bb;
  padding: 14px 15px;
}
input,
select,
fieldset,
textarea,
label,
legend,
input::placeholder,
select::placeholder,
textarea::placeholder {
  color: #95a1bb;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  font-family: inherit;
}

input[type='text'] {
  width: 100%;
}
input[type='email'],
input[type='password'],
input[type='date'],
select {
  width: 230px;
  height: 50px;
}
fieldset {
  width: 100%;
  padding: 30px 15px;
}
textarea {
  width: 100%;
  min-height: 80px;
  resize: none;
}
form .button {
  width: 100%;
}
select {
  background: url(./assets/images/Arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  appearance: none;
}
input[type='date']::-webkit-calendar-picker-indicator {
  background: url(./assets/images/Calendar.svg);
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url('./assets/images/Arrow-down.svg');
}
/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}
 /* для элемента input c type="radio" */
 .custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
/* для элемента label связанного с .custom-radio */
.custom-radio+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
/* стили при наведении курсора на радио */
.custom-radio:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}
/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
/* стили для радиокнопки, находящейся в фокусе */
.custom-radio:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio:focus:not(:checked)+label::before {
  border-color: #80bdff;
}
/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio:disabled+label::before {
  background-color: #e9ecef;